li {
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

li:hover {
  background-color: rgb(148, 233, 136);
}

body {
  background-color: rgb(201, 250, 234);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid blue;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.empty-cart {
  border-radius: 5px;
  background-color: rgb(202, 248, 94);
  cursor: pointer;
}

.empty-cart:hover{
  background-color: rgba(34, 131, 10, 0.849);
}